<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quos
        laborum obcaecati officiis. Explicabo ullam laboriosam repellendus
        corporis, saepe, nulla consectetur fugiat non, cumque aliquam molestias.
        Eaque rerum quidem minima?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quos
        laborum obcaecati officiis. Explicabo ullam laboriosam repellendus
        corporis, saepe, nulla consectetur fugiat non, cumque aliquam molestias.
        Eaque rerum quidem minima?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quos
        laborum obcaecati officiis. Explicabo ullam laboriosam repellendus
        corporis, saepe, nulla consectetur fugiat non, cumque aliquam molestias.
        Eaque rerum quidem minima?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
